name: CI/CD Pipeline

on:
  push:
    branches: ["dev", "main"]
  pull_request:
    branches: ["dev", "main"]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: louiselavergne
          POSTGRES_PASSWORD: pass
          POSTGRES_DB: taskmanager
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgresql://louiselavergne:pass@localhost:5432/taskmanager

    steps:
      - uses: actions/checkout@v4

      # Install Chrome
      - name: Install Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | \
            sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      # Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest selenium webdriver-manager requests

      - name: Start Flask server
        run: |
          python app.py > flask.log 2>&1 &
          sleep 5

      - name: Show Flask logs
        run: cat flask.log
        
      # Run tests
      - name: Unit tests
        run: python -m pytest tests/test_unit.py -v

      - name: Integration tests
        run: python -m pytest tests/test_integration.py -v

      - name: E2E tests
        run: pytest tests/test_e2e.py -v


  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t app:latest .


  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      # ------------------------------
      # Login to DockerHub (OFFICIEL)
      # ------------------------------
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ------------------------------
      # Build and Push
      # ------------------------------
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/taskmanager:latest

